[phases.setup]
nixPkgs = ['nodejs_18']

[phases.install]
cmds = [
  'npm ci --omit=dev --ignore-scripts',
  'npx prisma generate'
]

[phases.build]
cmds = ['npm run build']

[start]
cmd = 'npx prisma migrate deploy && node dist/index.js'
